<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weather Lens</title>
    <link rel="icon" href="images/others/logo.png">
    <link rel="stylesheet" href="css/styles.css">
    <script src="https://kit.fontawesome.com/f3dd108375.js" crossorigin="anonymous"></script>
</head>

<body>
    <div class="weather-app">
        <div class="container">
            <h3 class="brand ">Weather Lens</h3>
            <div>
                <h1 class="temp"></h1>
                <div class="city-time">
                    <h1 class="name"></h1>
                    <small>
                        <span class="time"></span>
                        <span class="date"></span>
                    </small>
                </div>

                <div class="weather">
                    <img src="" class="icon" alt="icon"width="50"height="50"/>
                    <span class="condition"></span>
                </div>
            </div>
        </div>
        
        <div class="panel" >
            <form id="locationInput">
                <input type="text" class="search" placeholder="Search Location..."/>
                <button type="submit" class="submit">
                <i class="fa-solid fa-magnifying-glass"></i>
                </button>
            </form>

            <ul class="details">
                <h4>Weather Details</h4>
                <li>
                    <span>Cloudy</span>
                    <span class="cloud"></span>
                </li>
                <li>
                    <span>Humidity</span>
                    <span class="humidity"></span>
                </1i>
                <li>
                    <span>Wind</span>
                    <span class="wind"></span>
                </li>
                <li>
                    <span>Pressure</span>
                    <span class="pressure"></span>
                </li>
            </ul>
            <div class="footer"><p><i class="fa-regular fa-copyright"></i> 2022 Srushti Rathva</p></div>
        </div>

    </div>
    <script src="js/weather.js"></script>
</body>

</html>